<?xml version="1.0"?>
<config>
	<modules>
		<Popov_Admitad>
			<version>0.1.0</version>
		</Popov_Admitad>
	</modules>
	<global>
		<helpers>
			<popov_admitad>
				<class>Popov_Admitad_Helper</class>
			</popov_admitad>
		</helpers>
		<blocks>
			<popov_admitad>
				<class>Popov_Admitad_Block</class>
			</popov_admitad>
		</blocks>
		<models>
			<popov_admitad>
				<class>Popov_Admitad_Model</class>
				<!--<resourceModel>popov_base_resource</resourceModel>-->
			</popov_admitad>
		</models>

		<events>
			<!-- this name is really important, use this to indicate the layout-render-before event -->
			<controller_action_layout_render_before>
				<observers>
					<popov_admitad_cookies_observer>
						<type>singleton</type>
						<class>Popov_Admitad_Model_Observer</class>
						<method>hookToSetCookies</method>
					</popov_admitad_cookies_observer>
				</observers>
			</controller_action_layout_render_before>
			<!-- this name is really important, use this to indicate the layout-render-before event -->
			<controller_action_layout_render_before_cms_index_index>
				<observers>
					<popov_admitad_pixel_observer>
						<type>singleton</type>
						<class>Popov_Admitad_Model_Observer</class>
						<method>hookToSetScript</method>
					</popov_admitad_pixel_observer>
				</observers>
			</controller_action_layout_render_before_cms_index_index>
			<controller_action_layout_render_before_catalog_product_view>
				<observers>
					<popov_admitad_pixel_observer>
						<type>singleton</type>
						<class>Popov_Admitad_Model_Observer</class>
						<method>hookToSetScript</method>
					</popov_admitad_pixel_observer>
				</observers>
			</controller_action_layout_render_before_catalog_product_view>
			<controller_action_layout_render_before_catalog_category_view>
				<observers>
					<popov_admitad_catalog_script_observer>
						<type>singleton</type>
						<class>Popov_Admitad_Model_Observer</class>
						<method>hookToSetScript</method>
					</popov_admitad_catalog_script_observer>
				</observers>
			</controller_action_layout_render_before_catalog_category_view>
			<controller_action_layout_render_before_catalog_category_layered>
				<observers>
					<popov_admitad_pixel_observer>
						<type>singleton</type>
						<class>Popov_Admitad_Model_Observer</class>
						<method>hookToSetScript</method>
					</popov_admitad_pixel_observer>
				</observers>
			</controller_action_layout_render_before_catalog_category_layered>
			<controller_action_layout_render_before_checkout_cart_index>
				<observers>
					<popov_admitad_pixel_observer>
						<type>singleton</type>
						<class>Popov_Admitad_Model_Observer</class>
						<method>hookToSetScript</method>
					</popov_admitad_pixel_observer>
				</observers>
			</controller_action_layout_render_before_checkout_cart_index>
			<controller_action_layout_render_before_checkout_onepage_success>
				<observers>
					<popov_admitad_pixel_observer>
						<type>singleton</type>
						<class>Popov_Admitad_Model_Observer</class>
						<method>hookToSetScript</method>
					</popov_admitad_pixel_observer>
				</observers>
			</controller_action_layout_render_before_checkout_onepage_success>
			<controller_action_layout_render_before_checkout_onepage_success>
				<observers>
					<popov_admitad_send_back_request>
						<type>singleton</type>
						<class>Popov_Admitad_Model_Observer</class>
						<method>hookToSendBackRequest</method>
					</popov_admitad_send_back_request>
				</observers>
			</controller_action_layout_render_before_checkout_onepage_success>
		</events>
	</global>

	<frontend>
		<routers>
			<popov_admitad>
				<use>standard</use>
				<args>
					<module>Popov_Admitad</module>
					<frontName>retag</frontName>
				</args>
			</popov_admitad>
		</routers>
		<layout>
			<updates>
				<popov_admitad>
					<file>popov/retag.xml</file>
				</popov_admitad>
			</updates>
		</layout>
	</frontend>
</config>